# target
target/

# Installation
doc/Installation

# backup-Files
*~

# log-Files
log/

# Intellij (https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore)
.idea/dataSources
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/db-forest-config.xml
.idea/dictionaries/
.idea/fileTemplates/
.idea/findbugs-idea.xml
.idea/google-java-format.xml
.idea/kotlinc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/shelf
.idea/sonarlint
.idea/svm.iml
.idea/tasks.xml
.idea/workspace.xml

svm.iml

# fillData
sql/fillData.sql
